page-schedule {
     .toolbar-background {
        background-color: rgb(216, 36, 72);
     }

    [text-color="white"]{
        color: white;
    }

    .scroll-content {
        overflow-y: auto;  
    }

<<<<<<< HEAD
    
=======
    [text-size="ukuran"] {
        font-size: 20px;
        font-weight: bold;
    }

>>>>>>> e1775e72fe3d24ffa6bd2ec8fa5f0718a7e06a31
    ion-card.card{
        padding: 15px;
    }

    ion-content.content {
        background-color: rgb(240, 237, 228);
    }

    [text-size="ukuran"]{
        font-size: 18px;
        font-weight: bold;
    }
}
