page-login{
    .background{
        background-image: url('../assets/rubik-depan-oke - Copy.png');
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }
    
    ion-list.list {
        margin-top: 70px;
        margin-left: 10px;
        margin-right: 10px;
    }

    .button {
        width: 323px;
        height: 40px;
        margin-left: 10px;
        margin-right: 10px;
    }
    .image {
        margin-top: 30px;
        text-align: center;
    }

    .scroll-content {
        overflow: hidden;
       
    }


}