page-profile {
    .clsAutoFit {
        height: 200px;
        width: 200px;
        margin: 30px auto 10px auto;
    }

    .clsImg {
        height: 100%;
        width: 100%;
    }

    .scroll-content {
        overflow-y: auto; 
    }

    ion-card.card {
        padding-right: 10px;
        padding-bottom: 10px;   
    }
}