page-file {
    .accordion-list {
        background-image: url('../assets/imgs/help.jpg');
        background-repeat: no-repeat;
        background-position: center;
        background-size: 100% 100%;
    }
    .section {
        background: #fff;
        color: #000;
        margin-bottom: 3px;
    }
    .section-active {
        background:  rgb(216, 36, 72);
        color: #fff;
    } 
    .child {
        background: #e8e7e6;
        color: #000;
        margin-bottom: 3px;
    }
    .child-item {
        background: #f3f2f1;
        padding: 10px;
    }
    .label {
        margin: 0px;
    }
    .list {
        margin-bottom: 3px;
       
    }

    .scroll-content {
        overflow-y: auto;
    }

    .fab {
        margin-right: 15px;
        margin-bottom: 15px;
    }

    ion-content.content {
        background-color: rgb(240, 237, 228);
      }

}